@use '../../../@quartz/styles/scss/borders';
@use '../../../@quartz/styles/scss/color-scheme';
@use '../../../@quartz/styles/scss/fonts';
@use '../../../@quartz/styles/scss/media-queries';

.link {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-top: borders.$solid-decorative;
	color: color-scheme.$typography-faint;
	margin-top: 32px;

	@include media-queries.tablet-portrait-up {
		margin-top: 36px;
	}

	@include fonts.maison-800-2;
}

.hide-top {
	margin-top: 0;
	border-top: 0;
}

.text {
	margin: 16px 0;

	@include media-queries.desktop-up {
		margin: 20px 0;
	}
}

.right-arrow {
	width: 6px;

	--color: #{color-scheme.$typography-faint};
}
