@use '../../@quartz/styles/scss/borders';
@use '../../@quartz/styles/scss/color-scheme';
@use '../../@quartz/styles/scss/fonts';
@use '../../@quartz/styles/scss/media-queries';
@use '../../@quartz/styles/scss/tokens';

.container {
	border-bottom: borders.$solid-decorative;
	display: flex;
	align-items: stretch;
	margin-right: -#{tokens.$size-gutter-mobile};

	@include media-queries.tablet-portrait-up {
		margin-right: 0;
		max-height: 400px;
	}
}

.heading {
	@include fonts.maison-800-5;

	margin: 0 0 4px;
}

.subheading {
	@include fonts.maison-500-1;

	margin: 0 0 8px;
	color: color-scheme.$typography-faint;

	@include media-queries.tablet-portrait-up {
		margin-bottom: 12px;
	}
}

.description,
.link {
	@include fonts.maison-500-3;
}

.screenshot-container {
	width: 33.333333%;
	max-width: 220px;
	min-height: 220px;
	flex-shrink: 0;
	flex-grow: 1;
	overflow: hidden;
	position: relative;
	margin-left: 20px;

	@include media-queries.tablet-portrait-up {
		width: 100%;
	}
}

.screenshot {
	position: absolute;
	width: 100%;
	transform: scale(1.2);
	transform-origin: 0 0;
	max-width: 260px;

	@include media-queries.tablet-portrait-up {
		transform: none;
		max-width: none;
	}
}
