@use '../../@quartz/styles/scss/color-scheme';
@use '../../@quartz/styles/scss/fonts';

.no-results {
	@include fonts.maison-500-3;

	color: color-scheme.$typography-faint;
}

.emoji {
	margin-right: 5px;
}

.no-results,
.spinner {
	align-items: center;
	display: flex;
	height: 50vh;
	justify-content: center;
}
