@use '../../../../../@quartz/styles/scss/helpers/resets';
@use '../../../../../@quartz/styles/scss/media-queries';
@use '../../../../../@quartz/styles/scss/tokens';

.container {
	@include resets.ul;

	display: flex;
	flex-wrap: wrap;
	margin: -4px;

	@include media-queries.tablet-portrait-up {
		margin: -6px;
	}
}

.client {
	width: 33.333333%;
	padding: 4px;
	box-sizing: border-box;

	@include media-queries.tablet-portrait-up {
		width: 25%;
		padding: 6px;
	}
}

.logo {
	width: 100%;
	height: auto;
	display: block;
	border-radius: tokens.$size-border-radius;
	overflow: hidden;
}
