@use '../../../../../@quartz/styles/scss/color-scheme';
@use '../../../../../@quartz/styles/scss/fonts';

.container {
	max-width: 620px;
	margin: auto;
	margin-bottom: 40px;
}

.section-heading {
	@include fonts.maison-extended-700-1;

	text-transform: uppercase;
	color: color-scheme.$typography-faint;
}

.name {
	@include fonts.maison-800-2;

	color: color-scheme.$typography;
	margin: 0.5em auto;
}

.description {
	margin: 0;
	color: color-scheme.$typography-faint;
}
