@use '../../../@quartz/styles/scss/color-scheme';
@use '../../../@quartz/styles/scss/fonts';
@use '../../../@quartz/styles/scss/media-queries';
@use '../../../@quartz/styles/scss/tokens';
@use '../../../styles/mixins/layout';
@use '../../../styles/tokens' as qzcom-tokens;

.header {
	@include layout.constrain;

	margin-top: 16px;
	padding-top: 75px;

	@include media-queries.tablet-portrait-up {
		margin-top: 55px;
	}

	@include media-queries.desktop-up {
		margin-top: 60px;
		margin-bottom: 60px;
		display: flex;
		align-items: center;
	}
}

.intro {
	margin-bottom: 30px;

	@include media-queries.tablet-portrait-up {
		margin-bottom: 45px;
	}

	@include media-queries.desktop-up {
		margin: 0 tokens.$size-gutter-desktop 0 0;
	}
}

.description {
	@include fonts.maison-500-5;

	color: color-scheme.$typography-faint;
	margin: 20px 0 0;

	@include media-queries.tablet-portrait-up {
		margin: 0 0 30px;
	}

	@include media-queries.desktop-up {
		width: qzcom-tokens.$size-max-width-content-article;
		margin: 30px 0;
	}
}

.poster {
	margin-bottom: -2px;

	@include media-queries.desktop-up {
		margin-bottom: 0;
		width: 360px;
		flex-shrink: 0;
	}

	@include media-queries.desktop-large-up {
		width: 400px;
	}
}
