@use '../../../../../styles/mixins/forms';
@use '../../../../../@quartz/styles/scss/fonts';
@use '../../../../../@quartz/styles/scss/helpers/resets';

.input-row {
	margin-bottom: 12px;
}

.input-text {
	margin-bottom: 24px;
}

.fieldset {
	@include resets.fieldset;

	margin-bottom: 12px;
}

.legend {
	@include fonts.maison-800-2;

	margin-bottom: 12px;
}

.reason {
	@include fonts.maison-500-2;
}

.checked {
	font-weight: bold;
}
